/* Style for header */
header {
    background-color: #367bc5;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style for side navigation bar */
.sidenav {
    background-color: #f1f1f1;
    padding: 15px;
    width: 200px;
}

/* Style for search box and button */
.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-box {
    padding: 10px;
    width: 200px;
}



.search-button {
    padding: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
}


.container {
    display: flex;
}

.left-div {
    width: 20%;
    background-color: rgb(255, 255, 255);
    /* Just for illustration */
}

.right-div {
    width: 80%;
    background-color: rgb(255, 255, 255);
    /* Just for illustration */
}